.Slider {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* horizontal slider */
.Slider.horizontal {
    flex-direction: row;
    overflow-x: scroll;
}

.Slider.horizontal.hover-notif:hover::after {
    content: "Hold SHIFT to Scroll with Mousewheel";
    margin-top: -25px;
}

/* vertical slider */
.Slider.vertical {
    flex-direction: column;
    overflow-y: scroll;
}