@import url("./shared/Theme.css");

.AddTerm {
    color: var(--theme-text-color);
    padding: var(--theme-default-padding);
    margin: var(--theme-default-margin);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: var(--theme-light-grey);
    border-radius: var(--theme-border-radius);;
    height: fit-content;
    align-items: center;
    min-width: 350px;
}

.AddTerm > * {
    padding: var(--theme-default-padding);
}

.AddTerm .title {
    font-family: var(--theme-special-font);
    font-size: 20px;
    color: var(--theme-purple);
}

.AddTerm .name-select {
    flex-grow: 1;
}

.AddTerm .name-select select {
    width: 100%;
    font-size: 16px;
    border-radius: var(--theme-border-radius);
    padding: var(--theme-default-padding);
}

.AddTerm .submit {
    display: flex;
    align-items: center;
    border-radius: var(--theme-border-radius);
}

.AddTerm .submit:hover {
    cursor: pointer;
    background-color: var(--theme-light-purple)
}
