@import url("./shared/Theme.css");

.CourseCard {
    min-height: 60px;
    width: 350px;
    color: var(--theme-text-color);
    padding: var(--theme-default-padding);
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin: var(--theme-default-margin);
}

.default {
    background-color: var(--theme-light-grey);
}

.elective {
    border: 1px solid var(--theme-blue);
    border-radius: var(--theme-border-radius);
}

.prereq-error {
    border: 1px solid var(--theme-error);
    background-color: var(--theme-error-highlight);
}

.CourseCard .summary {
    flex-grow: 1;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: normal;
}