@import url("theme.css");

.CourseCard {
    min-height: 60px;
    width: 100%;
    color: var(--theme-text-grey);
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.default {
    background-color: var(--theme-med-grey);
}

.elective {
    border: 1px solid var(--theme-blue);
    border-radius: 4px;
}

.CourseCard .summary {
    flex-grow: 1;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: normal;
}

.CourseCard .icon {
    width: 15px;
    height: 15px;
}

.CourseCard .icon:hover {
    cursor: pointer; 
}