@import url("./shared/Theme.css");

.Header {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to left, var(--theme-purple), var(--theme-blue));
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: var(--theme-special-font);
}

.Header > * {
    width: 33%;
    height: 100%;
    box-sizing: border-box;
    padding: var(--theme-default-padding);
}

.Header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header .links svg, .Header .hamburger > svg {
    fill: white;
}

.Header .links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Header .links:hover {
    cursor: pointer;
}

.Header .links .links-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header .link {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header .link:hover .link-text {
    text-decoration: underline;
}

.Header .hamburger {
    display: flex;
    align-items: center;
}

.Header .hamburger > * {
    padding: var(--theme-default-padding);
    margin: var(--theme-default-margin);
}

.Header .hamburger .search-bar {
    flex-grow: 1;
    background-color: var(--theme-white);
    border-radius: var(--theme-border-radius);
    display: flex;
    max-width: 300px;
}
