@import url("./shared/Theme.css");

.ShortlistCard {
    background-color: var(--theme-light-grey);
    padding: 7px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.ShortlistCard .content {
    width: 100%;
    border-top: 2px solid var(--theme-light-grey);
    margin-top: 5px;
    font-weight: 200;
}

.ShortlistCard .summary {
    display: flex;
    flex-direction: row;
}

.ShortlistCard .summary .summary-title {
    flex-grow: 1;
    margin-right: 20px;
}