@import url("./shared/Theme.css");

.TermSlider {
    white-space: nowrap;
    padding: 10px 0px;
    overflow: hidden;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.TermSlider .options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
}

.TermSlider .options .icon {
    padding: 5px;
}

.TermSlider .options .direction.horizontal:hover::after { 
    content: 'Vertical Term Layout';
    margin-left: -90px;
    margin-top: 30px;
}

.TermSlider .options .direction.vertical:hover::after { 
    content: 'Horizontal Term Layout';
    margin-left: -90px;
    margin-top: 30px;
}

.TermSlider .options .lock.locked:hover::after { 
    content: 'Unlock Courses';
    margin-left: -30px;
}

.TermSlider .options .lock.unlocked:hover::after { 
    content: 'Lock Courses';
    margin-left: -30px;
}

.term-card-wrapper {
    display: flex;
    height: 100%;
}
