@import url("./shared/Theme.css");

.TermCard {
    width: 350px;  
    border: 1px solid var(--theme-purple);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    box-sizing:border-box;
    flex: 0 0 320px; /* grow, shrink, basis */
}

.TermCard .header {
    color: var(--theme-purple);
    font-size: 22px;
    font-weight: bold;
    min-height: 35px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.TermCard .header .title {
    flex-grow: 1;
}

.TermCard .header .add-button {
    width: 25px;
    height: 25px;
    fill: var(--theme-icon-color);
}

.TermCard .header .add-button:hover {
    cursor: pointer;
}

.TermCard .courses {
    overflow-x: hidden;
    overflow-y: auto;
}