@import url("./shared/Theme.css");

.Main {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    overflow: hidden;
    display: flex; 
}